rag-ai-agents/nike agent.json
{
  "name": "nike agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -200
      ],
      "id": "6976d0ee-427e-4ed4-b1c4-cd9fdcd5920a",
      "name": "When chat message received",
      "webhookId": "eccdd240-b6e2-42cc-999c-274f523a0df7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an intelligent assistant integrated with memory and a vector-based retrieval system. Use the provided context and tools to answer user queries accurately. Retrieve relevant information from the vector store when appropriate, and maintain context using buffer memory. Always prioritize clarity, relevance, and helpfulness in your responses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -420,
        -200
      ],
      "id": "73e465af-10c6-4b44-ac6b-467df971398e",
      "name": "Nike Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -360,
        0
      ],
      "id": "757c52f4-b364-48b1-9c5f-f8cfd3dc3de6",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "database",
        "description": "call this tool to get nike's earnings to answer the user's question"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ],
      "id": "177c00a8-efe7-4a5f-a975-2e169da52541",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "firstrag",
          "mode": "list",
          "cachedResultName": "firstrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -200,
        160
      ],
      "id": "f6f86557-d23d-4b4c-a52f-5fe297439770",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6ljDLiUjncBYsP9H",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        100,
        160
      ],
      "id": "cb902b82-933a-4a38-b5e2-a2315f59c9ff",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "sFICVxGthe01DowN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -400,
        260
      ],
      "id": "d91b6b9c-62bd-422d-b0f2-65ccb45c9809",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Jg1TrqCV18t0Cgr4",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -520,
        40
      ],
      "id": "adb5d0e1-f94d-4a1f-8bc2-5bea95bf2fab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "W4YBTbRh7zzK231c",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        220,
        -80
      ],
      "id": "e46deda6-05e7-4b5e-8ffe-c6c79c545d85",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        380,
        -80
      ],
      "id": "dac19d9c-1506-4c0a-973e-afcbb4a97798",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Nike Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb735d2b-5130-4264-9875-6ce4718b7250",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aada15ecda1277f4cd447e1898d3eb96ff21b1efb7f7fb1d310d62501950a67b"
  },
  "id": "h6DNlhVEA6eGeFNg",
  "tags": []
}